@font-face {
    font-family: 'Beaufort'; /*a name to be used later*/
    src: url('/assets/Beaufort.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Spiegel'; /*a name to be used later*/
    src: url('/assets/Spiegel.ttf'); /*URL to font*/
}

:root {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

    font-family: Spiegel, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    --color-HextechBlack: rgb(1, 10, 19);
    --color-Gold1: rgb(240, 230, 210);
    --color-Gold2: rgb(219, 203, 156);
    --color-Gold3: rgb(200, 170, 110);
    --color-Gold4: rgb(200, 155, 60);
    --color-Gold5: rgb(120, 90, 40);
    --color-Gold6: rgb(70, 55, 20);
    --color-Gold7: rgb(50, 40, 30);
    --color-GreyCool: rgb(30, 40, 45);
    --color-Grey1: rgb(160, 155, 140);
    --color-Grey15: rgb(91, 90, 86);
    --color-Grey2: rgb(60, 60, 65);
    --color-Grey3: rgb(30, 35, 40);

    color: var(--color-Gold1);
    background-color: var(--color-HextechBlack);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden

}

.container {
    margin: 0;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.font-beaufort {
    font-family: Beaufort;
}

.lol-icon-btn {
    background-color: transparent; /* Blue background */
    opacity: 0.8; /* Slightly transparent on hover */
    background-size: cover;
    border: none; /* Remove borders */
    color: white; /* White text */
    cursor: pointer; /* Mouse pointer on hover */
    min-width: 18px;
    min-height: 18px;
}

.lol-icon-btn:hover {
    opacity: 1; /* Slightly transparent on hover */
}

.lol-icon-btn:disabled {
    opacity: 0.2; /* Slightly transparent on hover */
}

.lol-icon-btn:active {
    opacity: 0.2; /* Slightly transparent on hover */
}

.lol-close-btn {
    background-image: url('/assets/ui/control-close.png');
}

.lol-hide-btn {
    background-image: url('/assets/ui/control-hide.png');
}

.lol-login-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow: hidden;
}

.lol-login-form label {
    font-size: 12px;
    color: var(--color-Grey1);
    margin-top: 10px;
}

.lol-login-form input {
    margin: 0;
    padding: 7px;
    width: calc(100% - 4px - 7px * 2);
    background-color: var(--color-Grey3);
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-Gold5); /* linear-gradient(to top, var(--color-Gold3), var(--color-Gold5)) 1; */
    /* two shadows, one inside and one outside */
    box-shadow: inset 0 0 5px black, 0 0 2px black;
    color: var(--color-Gold1);
    font-size: 11px;
}

.lol-login-form input:hover {
    outline: none;
    background-color: var(--color-Grey3);
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to bottom, var(--color-Gold3), var(--color-Gold5)) 1;
}

.lol-login-form input:focus {
    outline: none;
    background-color: var(--color-Grey3);
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to bottom, var(--color-Gold5), var(--color-Gold1)) 1;
}

.lol-btn {
    background: var(--color-Grey3);
    padding: 5px;
    font-size: 16px;
    font-family: Beaufort, sans-serif;
    text-align: center;
    color: var(--color-Gold2);

    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to bottom, var(--color-Gold3), var(--color-Gold5)) 1;
}

@keyframes lol-btn-highlight {
    0% {
        box-shadow: 0 0 10px var(--color-Gold1);
    }
    100% {
        box-shadow: 0 0 0 var(--color-Gold1);
    }
}

.lol-btn:hover {
    animation: lol-btn-highlight 1s;
    background: linear-gradient(to bottom, var(--color-Grey3), var(--color-Gold7));
    border-image: linear-gradient(to bottom, var(--color-Gold1), var(--color-Gold4)) 1;
}

.lol-btn:active {
    background: var(--color-Grey3);
    color: var(--color-Grey15);
    border-image: linear-gradient(to bottom, var(--color-Gold6), var(--color-Gold5)) 1;
}